.cart-container {
  padding: 20px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.remove-all-btn {
  border: none;
  background-color: transparent;
  color: #0b69ff;
  font-size: 16px;
  cursor: pointer;
}

.cart-list {
  list-style-type: none;
  padding: 0;
}
